# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
app/.dart_tool/
app/.flutter-plugins-dependencies
app/.metadata
app/.pub-cache/
app/.pub/
app/build/
app/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Analyzer
app/analysis_options.yaml

# Android Studio will place build artifacts here
app/android/app/debug
app/android/app/profile
app/android/app/release

# Google services configuration file
google-services.json

# Firebase configuration files
app/firebase.json
app/lib/firebase_options.dart
